@import './variables.scss';

$header_height: 70px;
$query_height: 300px;

html, body {
  background-color: #efefef;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rowFlex {
  display: flex;
  flex-direction: row;
}
.hidden { display: none; }
.scroll { overflow: scroll; }
.fit { width: fit-content; }


.container {
  position: relative;
  width: 90%;
  height: calc(100vh - #{$header_height});
  background-color: #FFF;
  margin: auto;
}

.Home {
  background-image: url("../resources/img/background.jpg");
  background-attachment: fixed;
  min-height: 100vh;
  background-position: center;
  .containerLeft {
    position: relative;
    width: 100%;
    background: rgba(24, 38, 94, 0.6);
  }
  .containerRight {
    background: 'none';
    width: 100%;
  }
  .ntuLogo {
    position: absolute;
    top: calc( 40vh );
    left: calc( 2vw );
    .title {
      position: relative;
      margin: auto;
      top: 0;
      left: 0;
      color: white;
    }
  }
  .slash {
    position: absolute;
    top: calc( 40vh );
    left: calc( 22vw );
    box-sizing: border-box;
    line-height:120px;
    width: 160px;
    height: 160px;
    background: linear-gradient(-45deg, transparent 49.5%, white 49.5%, white 50.5%, transparent 50.5%);
  }
  .title {
    position: absolute;
    top: calc( 50vh );
    left: calc( 30vw );
    color: white;
  }
  .login {
    position: absolute;
    border-radius: $br_ml;
    padding: $lg $lg;
    right: calc((25vw - 450px / 2));
    top: calc((50vh - 450px / 2));
    background-color: white;
  }
}

.CouInform {
  .title {
    height: 90px;
    box-sizing: border-box;
    padding: 10px 10px;
  }
  .tabs {
    position: absolute;
    right: 0px;
    top: 42px;
  }
  .basic {
    min-width: 300px;
    border: $border_test;
  }
  .syllabus {
    // padding-left: 16px;
    border: $border_test;
    .grid {
      padding: 10px 0 10px 0;
      .cell1 {
        min-width: 200px
      }
      .cell2 {
        padding-left: $sm;
      }
    }
  }
  .tablePanel{
    flex-grow: 1;
  }

  .schedule {
    overflow: scroll;
    height: calc(100vh - ($header_height) - 110px);
    .grid {
      padding: $xs 0 $xs 0;
      .cell1 {
        min-width: 150px;
      }
      .cell2 {
        min-width: 150px;
      }
      .cell3 {
        padding-left: $sm;
      }
    }
  }
}

.Header {
  height: $header_height;
  width: 100%;
  padding: 0 $sm;
  box-sizing: border-box;
  background-color: $ntuBlue__standard;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.Query {
  height: $query_height;
  box-sizing: border-box;
  padding: $xs $lg;
  // margin: auto;
  .searchBar {
    margin: 0 auto;
    .title {
      width: 110px;
      padding-right: $xs;
    }
    .options {
      width: 130px;
      padding-right: $xxs;
    }
    .input {
      margin: $xs 0;
      width: 300px;
      padding-right: $xxs
    }
    .button {
      width: 80px;
      margin: auto;
    }
    .timeTable {
      width: auto;
      margin: auto 0;
    }
  }
  .multiSelect {
    margin: $xxs 0;
    .title {
      width: 140px;
      margin: auto 0;
    }

  }
  
  .colFilter {
    max-width: 50%;
  }
  .checkBoxes {
    align-items: center;
    margin-bottom: $sm;
    .title {
      min-width: 110px;
    }
    .options {
      flex-grow: 1;
    }
  }
}

.SearchResult {
  height: calc(100vh - #{$header_height} - #{$query_height} - 30px),
  // padding="large"
}

.breadcrumbs {
  position: absolute;
  display: inline;
  right: 10px;
}
.login {
  input {
    margin: myMuiTheme.spacing(2,0)
  }
  button {
    width: 80%;
    margin: auto;
  }

}
