@import './variables.scss';

.FBButton {
  margin: 12px;
  font: $font__headingSemiBold;
  font-weight: 600;
  font-size: 16.5px;
  padding: 12px 16px;
  background: $fbGreen__standard;
  border: 1px solid $fbGreen__standard;
  border-radius: $borderRadius__button;
  letter-spacing: 0.06rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase !important;
  font-variant: small-caps !important;
  &:hover {
    background: $fbGreen__dark;
    border-color: $fbGrey__dark;
    box-shadow: $darkBoxShadow;
  }
  &:focus {
    outline: 5px auto $fbGreen__light;
  }
  &.secondary {
    background: white;
    color: $fbGrey__dark;
    box-shadow: $lightBoxShadow;
    border: 1px solid $fbGrey__lightest;
    &:hover {
      background: white;
      color: $fbGrey__dark;
      border-color: $fbGrey__lightest;
      box-shadow: $darkBoxShadow;
    }
    &:focus {
      outline: 5px auto $fbGreen__light;
    }
  }
  &.danger {
    background: white;
    color: $fbRed__standard;
    box-shadow: $lightBoxShadow;
    border: 1px solid $fbGrey__lightest;
    &:hover {
      background: white;
      color: $fbRed__standard;
      border-color: $fbGrey__lightest;
      box-shadow: $darkBoxShadow;
    }
    &:focus {
      outline: 5px auto $fbRed__light;
    }
  }
  &.success {
    background: $fbGreen__lightest;
    color: $fbGreen__dark;
    box-shadow: $lightBoxShadow;
    border: 1px solid $fbGreen__dark;
    &:hover {
      background: $fbGreen__lightest;
      color: $fbGreen__dark;
      border: 1px solid $fbGreen__dark;
      box-shadow: $darkBoxShadow;
    }
    &:focus {
      outline: 5px auto $fbGreen__light;
    }
  }
  &.supplier {
    background: $fbOrange__standard;
    color: white;
    box-shadow: $lightBoxShadow;
    border: 1px solid $fbOrange__standard;
    &:hover {
      background: $fbOrange__dark;
      color: $fbGrey__lightest;
      border: 1px solid $fbOrange__dark;
      box-shadow: $darkBoxShadow;
    }
    &:focus {
      outline: 5px auto $fbOrange__light;
    }
  }
  &.light_primary {
    background: linear-gradient(45deg, $fbGreen__standard 0%, $fbGreen__light 100%);
    color: white;
    box-shadow: $lightBoxShadow;
    border: none;
    &:hover {
      background: linear-gradient(45deg, $fbGreen__standard 0%, $fbGreen__dark 100%);
      border: none;
      box-shadow: $darkBoxShadow;
    }
    &:focus {
      outline: 5px auto $fbGreen__light;
    }
  }
  &.light_secondary {
    background: white;
    color: $fbGreen__light;
    box-shadow: $lightBoxShadow;
    border: 1px solid $fbGreen__light;
    &:hover {
      background: white;
      border-color: $fbGreen__light;
      box-shadow: $darkBoxShadow;
    }
    &:focus {
      outline: 5px auto $fbGreen__light;
    }
  }

  &.large {
    padding: 16px 32px;
  }
  &.small {
    padding: 6px 28px;
  }
  &.extra_small {
    padding: 5px 16px;
  }
  &.fullWidth {
    margin: 0;
  }
  &:disabled {
    color: $fbGrey__dark;
    background: $fbGrey__lightest;
    border: 1px solid white;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: initial;
    &:hover {
      color: $fbGrey__dark;
      background: $fbGrey__lightest;
      border-color: white;
      box-shadow: none;
      cursor: not-allowed;
    }
  }
  svg {
    margin-top: -4px;
    margin-bottom: -4px;
  }
}