.header {
    width: 100%;
    height: 70px;
    
    background-color: #18265E;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-right: 15px;

}
.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-left .header-label {
    line-height: 70px;
    font-size: 45px;
    padding-left: 15px;

}