@import '../variables.scss';

.root {
  font: $font__headingSemiBold;
  font-weight: 600;
  font-size: 16.5px;
  background: $bg_brgiht;
  box-sizing: border-box;

  letter-spacing: 0.06rem;
  display: flex;
  flex-direction: column;

  // text-transform: lowercase !important;
  // font-variant: small-caps !important;
  // &.large {
  //   padding: 16px 32px;
  // }
  // &.small {
  //   padding: 6px 28px;
  // }
  // &.extra_small {
  //   padding: 5px 16px;
  // }
  &.noBackground {
    background: none;
  }
  &.container {
    padding: 0 0;
  }
  &.white {
    background: $bg_brgiht;
  }
  &.rowFlex {
    flex-direction: row;
  }

}

.gridItem {
  &.fullWidth {
    width:100%;
  }
  &.border {
    border: 1px solid red;
  }
  &.alignRight {
    text-align: right;
  }
  
}